@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BodegaScript";
  src: url(../fonts/BodegaScript.woff2) format("woff2"), url(../fonts/BodegaScript.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
.none {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "font", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  min-width: 320px;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  padding: 0;
  border: none;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 15px;
}
.container--center {
  display: flex;
  justify-content: center;
}

.header {
  padding-top: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #e8afec;
  margin: 0 auto;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 12px;
  padding: 30px 0;
}

.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: 33px;
  line-height: 23px;
  background: linear-gradient(to bottom, #dcbcf5, #c191e8, #9352c6);
  text-decoration: none;
  border-radius: 20px;
  padding: 28px 40px;
  width: calc(100% - 27px);
  padding: 18px 0px;
  text-align: center;
  color: #4c2f5e;
}

.picture {
  width: 100%;
  display: inline-block;
  position: relative;
}
.picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.picture:after, .picture::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../icon/clouds1.svg);
  background-size: 100%;
  z-index: 1;
}
.picture::before {
  background: url(../icon/planet.svg) no-repeat;
  background-size: 13%;
  background-position: 83% 0%;
}

.noscroll {
  overflow-y: hidden;
}

.nav__menu {
  z-index: 11;
  height: 100vh;
  top: -2px;
  border-radius: 0px 0px 20px 20px;
  background: #7b4b83;
  position: fixed;
  right: -100%;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.nav__menu a {
  margin: 16px 0;
}
.nav__menu.active {
  right: 0;
}
.nav__menu__title {
  color: #523960;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
}
.nav__title {
  color: #523960;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  margin: 22px 0;
}
.nav__list {
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 30px;
}
.nav__list-link {
  color: #e7d8e8;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  padding-left: 30px;
  transition: 0.3s ease;
}
.nav__list-link::before {
  position: absolute;
  left: 0;
  top: 20%;
}
.nav__list-link:hover {
  color: #f4dff5;
}

.burger {
  z-index: 12;
  display: block;
  cursor: pointer;
  margin-left: 40px;
}
.burger span {
  display: block;
  width: 33px;
  height: 4px;
  border-radius: 8px;
  margin: 5px auto;
  background-color: #f4dff5;
  transition: all 0.3s ease-in-out;
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.first {
  padding-top: 102px;
  background: url(../img/first/gradient.png) no-repeat;
  background-size: 100% 100%;
}
.first__name {
  font-family: "BodegaScript", "font", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 39px;
  margin-bottom: 17px;
  display: block;
}
.first__about {
  position: relative;
  z-index: 2;
}
.first__gradient {
  background: url(../icon/gradient-first-services.svg) no-repeat;
  background-size: 111%;
  background-position: 45% 77%;
  position: relative;
}
.first__gradient::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(226px + 490 * (100vw - 320px) / 1366);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #220438);
  content: "";
}
.first__flex {
  display: flex;
  flex-direction: column;
  position: relative;
}
.first__flex::after, .first__flex::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: -414px;
  left: 0px;
  background: url(../icon/zvezdi-right-top.svg);
  width: 100%;
  height: calc(100% + 348px);
  background-size: 100%;
}
.first__flex::before {
  background: url(../icon/zvezdi-left.svg);
  background-size: 100%;
  left: -24px;
  top: 0px;
}
.first__wrapper-h1 {
  display: flex;
  justify-content: center;
}
.first__avtor {
  font-size: 20px;
  line-height: 22px;
  padding-right: 17px;
  background: url(../icon/pin.svg) no-repeat;
  background-size: 14px 30px;
  background-position: 100%;
}
.first__planet {
  position: relative;
}
.first__planet::before {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../icon/upiter.svg) no-repeat;
  background-size: 44%;
  background-position: 91% 51%;
  content: "";
  width: 243px;
  /* z-index: 20; */
  height: 100%;
}
.first__wrapper-link {
  position: relative;
  z-index: 2;
}
.first__wrapper {
  margin-bottom: 27px;
}
.first__wrapper .picture {
  height: 409px;
}
.first__wrapper .picture img {
  position: relative;
  z-index: 10;
}
.first__advantages {
  display: flex;
}
.first__advantages:first-child {
  margin-bottom: 9px;
}
.first__advantages span {
  font-size: 15px;
  line-height: 20px;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #2e1343;
  color: #e7d8e8;
}
.first__advantages span:first-child {
  margin-right: 6px;
}
.first__advantages-moving {
  position: relative;
  z-index: 1;
}

.client {
  background: #220438;
}
.client .slider-desktop {
  display: none;
}
.client__desc {
  color: #ddb6d1;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 30px;
}

.client .swiper {
  width: 100%;
  height: 100%;
}
.client .swiper__wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.client .swiper-slide {
  padding-top: 20px;
  padding-bottom: 40px;
}
.client .swiper-slide:nth-child(1) .swiper__slide-title::before {
  position: absolute;
  content: "";
  top: -13px;
  right: 19%;
  width: 29px;
  height: 29px;
  background: url(../img/client/icon1.png) no-repeat;
  background-size: contain;
}
.client .swiper-slide:nth-child(2) .swiper__slide-title::before {
  position: absolute;
  content: "";
  top: -13px;
  left: 10%;
  width: 29px;
  height: 29px;
  background: url(../img/client/icon2.png) no-repeat;
  background-size: contain;
}
.client .swiper-slide:nth-child(3) .swiper__slide-title::before {
  position: absolute;
  content: "";
  top: -13px;
  right: 19%;
  width: 29px;
  height: 29px;
  background: url(../img/client/icon3.png) no-repeat;
  background-size: contain;
}
.client .swiper-slide:nth-child(4) .swiper__slide-title::before {
  position: absolute;
  content: "";
  top: -13px;
  left: 10%;
  width: 29px;
  height: 29px;
  background: url(../img/client/icon4.png) no-repeat;
  background-size: contain;
}
.client .swiper-slide-wrapper {
  padding: 0 40px;
  text-align: center;
}
.client .swiper__slide-title {
  margin: 0 auto;
  color: #4c2f5e;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 20px;
  text-align: center;
  background: #e7d8e8;
  padding: 10px 50px;
  max-width: 346px;
  margin-bottom: 28px;
  position: relative;
}
.client .swiper__slide-desc {
  margin-bottom: 20px;
  position: relative;
}
.client .swiper__slide-desc img {
  width: 18px;
  height: 66px;
}
.client .swiper__slide-desc p {
  color: #e7d8e8;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
  padding-left: 20px;
}
.client .swiper__slide-desc p:nth-child(1) {
  text-align: left;
  font-weight: 500;
  border-radius: 20px;
  background: #411d53;
  padding: 16px 10px;
  position: relative;
}
.client .swiper-button-next {
  background: url(../img/client/next.png) no-repeat;
  left: auto;
  right: calc(50% - 54px);
  top: auto;
  bottom: 0px;
  width: 45px;
  height: 45px;
}
.client .swiper-button-prev {
  background: url(../img/client/prev.png) no-repeat;
  left: calc(50% - 54px);
  top: auto;
  bottom: 0px;
  width: 45px;
  height: 45px;
}
.client .swiper-button-next::after, .client .swiper-button-prev::after {
  display: none;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 32px 16px;
  border-radius: 20px;
  background: #e7d8e8;
  margin-bottom: 20px;
}

.item-title {
  font-family: "BodegaScript", "font", sans-serif;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.56px;
}

.item-subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.btn a {
  color: #4c2f5e;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding: 15px 50px;
  border-radius: 20px;
  background: #611a8a;
  text-align: center;
  color: #e7d8e8;
}

.about {
  margin: 0 auto;
  background: #220438;
  padding-bottom: 30px;
  color: #e7d8e8;
}
.about__wrapper {
  background: url("../img/about/bg1.png") no-repeat;
  background-size: contain;
  background-position: right -72px top -20px;
}
.about__item {
  padding-left: 34px;
  position: relative;
  margin-bottom: 25px;
}
.about__item img {
  position: absolute;
  left: 0;
  top: 0;
}
.about__item:nth-child(3) {
  width: 191px;
}
.about__item-title {
  font-family: "BodegaScript", "font", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 20px;
}
.about__item-subtitle {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-weight: 500;
}
.about__lead {
  border-radius: 20px;
  background: #e7d8e8;
  padding: 14px 12px;
  color: #220438;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 25px;
  position: relative;
  max-width: 800px;
}
.about__lead::before {
  position: absolute;
  content: url("/img/about/mob-content.png");
  right: 18px;
  top: -26px;
}
.about__desc {
  text-align: center;
  margin-bottom: 20px;
}
.about__btn {
  padding-bottom: 30px;
}
.about__social img {
  width: 30px;
  height: 30px;
}
.about__inner-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button--accordion {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  align-items: center;
}
.button--accordion span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #e8afec;
  border-radius: 50%;
  position: relative;
}
.button--accordion span::after, .button--accordion span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 11px;
  /* transform: translate(-50%, -50%) rotate(-45deg); */
  transform: translate(-50%, -50%) rotate(45deg);
  width: 12px;
  height: 2px;
  background-color: #4c2f5e;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}
.button--accordion span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
  left: auto;
  right: -1px;
}
.button--accordion span.rotate::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.button--accordion span.rotate::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.accordion {
  background-color: rgba(231, 216, 232, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}
.accordion.faq .button {
  font-size: 18px;
  line-height: 20px;
  color: #e7d8e8;
  position: relative;
  padding-left: 53px;
  width: 100%;
  text-align: left;
  padding: 24px 9px 24px 46px;
  cursor: pointer;
}
.accordion.faq .button::before, .accordion.faq .button::after {
  content: "";
  width: 25px;
  height: 4px;
  border-radius: 42px;
  background-color: white;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.accordion.faq .button::after {
  transform: rotate(90deg) translate(-6%, 0%);
  transition: all 0.2s ease-in;
}

.faq__panel {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  color: #e7d8e8;
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
}
.faq__panel p {
  padding-left: 53px;
  padding-bottom: 30px;
  padding-right: 9px;
}
.faq.open .faq__panel {
  opacity: 1;
  max-height: 1000px;
}
.faq.open .button::after {
  transform: rotate(0deg) translate(0%, 0%);
  transition: all 0.2s ease-in;
}

.services {
  background: url(../img/services/bg.png);
  color: #e8afec;
  padding-bottom: 42px;
}
.services__mini {
  max-width: 80%;
}
.services__mini p {
  color: #e8afec;
  text-align: left;
}
.services__mini h3 {
  color: #e8afec;
  font-family: "BodegaScript", "font", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}
.services__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}
.services__content p:first-child {
  margin-top: 30px;
}
.services__content p {
  margin-bottom: 30px;
  padding-left: 26px;
  background: url(../icon/services-card.svg) no-repeat;
  background-size: 16px 16px;
}
.services__accordion {
  display: flex;
  flex-direction: column;
  background-color: rgba(231, 216, 232, 0.2);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 20px;
  min-height: 130px;
}
.services .open .services__content {
  opacity: 1;
  max-height: 2000px;
}
.services__bonus {
  padding: 30px 30px;
}
.services__bonus h3 {
  text-align: center;
  margin-bottom: 30px;
}
.services__bonus-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.services__content .services__bonus .services__bonus-title p, .services__content .services__bonus p {
  line-height: 29px;
  text-align: center;
  margin-top: 0;
  background: none;
  margin: 0;
  padding-left: 0;
}
.services__content .services__bonus p {
  margin-bottom: 30px;
}
.services__content .services__bonus p:last-child {
  margin-bottom: 30px;
}
.services__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.services__price span {
  margin-bottom: 30px;
  color: #fff;
  text-overflow: ellipsis;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.services__price a {
  background: #fff;
  padding: 15px 80px;
  border-radius: 40px;
  color: #523960;
  font-size: 14px;
  font-weight: 600;
  line-height: 0.8;
}

.wrapper {
  width: 100%;
  padding: 15px;
  background: #e7d8e8;
  border-radius: 20px;
  padding: 0 15px 40px;
  z-index: 4;
  gap: 10px;
}

.consultation {
  background: #e7d8e8;
  background: url(../img/services/bg.png);
  padding: 40px 0px;
}
.consultation__link {
  padding-top: 10px;
}
.consultation__link .link {
  font-size: 28px;
  width: -moz-max-content;
  width: max-content;
  padding: 16px;
}

.feedback {
  background: url(../img/services/bg.png);
  background-size: cover;
  height: 100%;
  text-align: center;
  padding-bottom: 42px;
}
.feedback__subtitle {
  color: #e8afec;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 20px;
}
.feedback__info {
  border-radius: 20px;
  background: #f4dff5;
  padding: 30px 22px;
  margin-bottom: 42px;
  position: relative;
}
.feedback__info::after {
  content: url(/img/feedback/content.svg);
  position: absolute;
  right: -28px;
  top: 65px;
}
.feedback__info-title {
  color: #4c2f5e;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 30px;
}
.feedback__info-subtitle {
  color: #8e7a98;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 30px;
}
.feedback__info-subtitle span {
  font-weight: 700;
}
.feedback__info-desc {
  color: #4c2f5e;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
}
.feedback__info-socials {
  margin-bottom: 20px;
}
.feedback__info-txt {
  color: #4c2f5e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.form {
  background: #321646;
  position: relative;
  width: 100%;
}
.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6039215686) url(../img/form/5.gif) center/50px;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0;
}
.form.__sending::after {
  opacity: 1;
  visibility: visible;
}
.form__title {
  font-size: 16px;
  color: #e7d8e8;
}
.form__input {
  width: 80%;
  margin: 0 auto 10px;
  border-radius: 20px;
  background: rgba(142, 122, 152, 0.2);
  padding: 12px 20px;
  border: 0;
}
.form__input:nth-child(3) {
  display: flex;
  align-items: start;
  height: 87px;
  vertical-align: top;
  resize: none;
}
.form__input::-moz-placeholder {
  color: #e7d8e8;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.form__input::placeholder {
  color: #e7d8e8;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.form .checkbox {
  color: #fff;
  margin-bottom: 20px;
}
.form .checkbox a {
  color: rgb(156, 156, 226);
}
.form__checkbox {
  display: none;
}
.form__checkbox:checked + .form__checkbox-label::after {
  transform: scale(1);
}
.form__checkbox-label {
  display: inline-flex;
  line-height: 140%;
  cursor: pointer;
  position: relative;
}
.form__checkbox-label:before {
  content: "";
  background: #fff;
  border-radius: 4px;
  flex: 0 0 24px;
  height: 24px;
  margin-right: 10px;
}
.form__checkbox-label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: #8e7a98;
  border-radius: 5px;
  transform: scale(0);
}
.form__input.__error {
  box-shadow: 0 0 10px red;
}
.form__btn {
  width: 84%;
  margin: 0 auto 40px;
  border-radius: 20px;
  background: #8e7a98;
  border: 0;
  padding: 12px 50px;
  overflow: hidden;
  color: #e7d8e8;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  transition: background 0.2s ease-in, top 0.2s ease-in;
  top: 0;
}
.form__btn:active {
  position: relative;
  top: 5px;
}

.checkbox.__error .form__checkbox-label::before {
  box-shadow: 0 0 10px red;
}

.services__border {
  border-radius: 20px;
  border: 5px solid #caa3e1;
  margin-bottom: 50px;
}
.services__border .services__bonus {
  display: block;
  padding: 0 20px;
}
.services__border .services__bonus p {
  text-align: center;
  background: inherit;
  padding: 0;
}
.services__border .services__bonus-title {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  justify-content: center;
}
.services__border .services__bonus-title span {
  color: #e8afec;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.services__border .services__bonus-title img {
  width: 28px;
  vertical-align: middle;
  padding-bottom: 3px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 83%;
  }
  .consultation__link .link {
    padding: 18px 63px;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 45px;
  }
  .container {
    padding: 0;
  }
  .container-none-desktop {
    width: auto;
    margin: 0;
  }
  .first__flex {
    margin: 0 auto;
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .first__wrapper-title .title {
    margin-bottom: 30px;
    text-align: left;
  }
  .first__advantages-moving {
    margin-bottom: 30px;
  }
  .first__advantages-wrapper {
    margin-bottom: 49px;
    max-width: 80%;
  }
  .first__wrapper-link {
    margin: 0;
  }
  .first__letter {
    font-size: 20px;
    line-height: 22px;
  }
  .form__title {
    margin-bottom: 34px;
  }
  .form__form {
    width: 66%;
  }
  .form__input {
    padding: 30px 23px;
    margin-bottom: 58px;
  }
  .form__input:nth-child(3) {
    height: 152px;
  }
  .form__btn {
    cursor: pointer;
    width: 38%;
    padding: 27px 53px;
  }
  .about {
    margin: 0 auto;
    background: #220438;
    padding-bottom: 183px;
    color: #e7d8e8;
  }
  .about__wrapper {
    background-position: right 0px top -20px;
  }
  .about .about__item-title {
    font-size: 55px;
    margin-bottom: 57px;
  }
  .about__item {
    padding-left: 75px;
    margin-bottom: 87px;
    max-width: 810px;
  }
  .about__item img {
    position: absolute;
    top: -19px;
    width: 50px;
  }
  .about__item:nth-child(3) {
    width: 100%;
  }
  .about__item-subtitle {
    font-size: 28px;
    line-height: 35px;
  }
  .about__lead {
    order: 2;
    font-size: 25px;
    padding: 55px 50px;
    line-height: 28px;
    max-width: 689px;
    margin-left: 40px;
  }
  .about__lead::before {
    position: absolute;
    content: url("/img/about/content.png");
    right: inherit;
    top: -62px;
    left: -59px;
  }
  .about__info {
    order: 1;
  }
  .about__inner-desktop {
    display: flex;
    flex-direction: row;
  }
  .about__desc {
    text-align: left;
    font-size: 25px;
    line-height: 30px;
  }
  .about__btn {
    max-width: 474px;
  }
  .about .btn a {
    font-size: 30px;
    padding: 40px 40px;
  }
  .about .socials {
    display: flex;
    gap: 24px;
    justify-content: start;
  }
  .about__social img {
    width: 67px;
    height: 67px;
  }
  .services__accordion {
    min-height: 171px;
  }
  .services__wrapper {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
    justify-content: space-between;
  }
  .services__first {
    width: 674px;
    margin-left: 50px;
  }
  .services__second {
    width: 674px;
    margin-right: 50px;
  }
  .services__border {
    border-radius: 20px;
    border: 5px solid #caa3e1;
    margin-bottom: 50px;
  }
  .services__border .services__bonus {
    display: block;
    padding: 0 20px;
  }
  .services__border .services__bonus p {
    text-align: center;
    background: inherit;
    padding: 0;
  }
  .services__border .services__bonus-title {
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    justify-content: center;
  }
  .services__border .services__bonus-title span {
    color: #e8afec;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  .services__border .services__bonus-title img {
    width: 28px;
    vertical-align: middle;
    padding-bottom: 3px;
  }
  .services__border .services__result h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  .services__border .services__result p {
    line-height: 1.2;
  }
  .services__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .services__price a {
    background: #fff;
    padding: 15px 80px;
    border-radius: 40px;
    color: #523960;
    font-size: 14px;
    font-weight: 600;
    line-height: 0.8;
  }
  .services__price span {
    margin-bottom: 30px;
    color: #fff;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .client__desc {
    font-size: 25px;
    line-height: 40px;
  }
  .client .slider-desktop {
    background: url(../img/client/planet.png) no-repeat;
    background-position: 99% 34%;
    display: block;
    position: relative;
    z-index: 12;
  }
  .client .swiper__wrapper {
    display: none;
  }
  .client .swiper__slide-title {
    font-size: 32px;
    padding: 25px 50px;
  }
  .client .swiper__slide-desc img {
    width: 455px;
    height: 42px;
  }
  .client .swiper__slide-desc {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
  }
  .client .swiper__slide-desc p {
    line-height: 30px;
    font-size: 25px;
    width: 100%;
    text-align: left;
    font-weight: 500;
  }
  .client .swiper__slide-desc p span {
    font-weight: 500;
  }
  .client .swiper__slide-desc p:nth-child(1) {
    line-height: 40px;
    font-size: 28px;
    text-align: left;
    font-weight: 700;
    border: radius 0;
    background: inherit;
    padding: 0;
  }
  .client .swiper-slide:nth-child(1) .swiper__slide-title::before {
    top: -34px;
    right: -4%;
    width: 98px;
    height: 98px;
  }
  .client .swiper-slide:nth-child(2) .swiper__slide-title::before {
    top: -67px;
    left: -10%;
    width: 119px;
    height: 119px;
  }
  .client .swiper-slide:nth-child(3) .swiper__slide-title::before {
    top: -34px;
    right: -4%;
    width: 98px;
    height: 98px;
  }
  .client .swiper-slide:nth-child(4) .swiper__slide-title::before {
    top: -34px;
    left: -4%;
    width: 112px;
    height: 112px;
  }
}
@media (min-width: 1440px) {
  .burger {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__menu {
    height: inherit;
    padding: inherit;
    top: inherit;
    border-radius: inherit;
    background: inherit;
    position: inherit;
    right: inherit;
    width: inherit;
    text-align: inherit;
    transition: 0.3s;
  }
  .nav__menu a {
    margin: inherit;
  }
  .nav__menu.active {
    right: 0;
  }
  .nav__list {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding-bottom: 0;
  }
  .nav__list-link {
    color: #fff;
    font-size: 20px;
  }
  .nav__list-link::before {
    position: relative;
    content: url(/img/header/icon.png);
  }
  .nav__list-link:hover {
    color: #f4dff5;
  }
  .nav__list-link:nth-child(7) {
    text-align: left;
    width: inherit;
    padding: 0 0 0 30px;
    border-radius: inherit;
    border: none;
  }
  .nav__list-link:nth-child(8) {
    color: #8e7a98;
    display: none;
  }
  .nav__list-link:nth-child(9) {
    color: #8e7a98;
    display: none;
  }
  .first__name {
    font-size: 77px;
    line-height: 77px;
    text-align: initial;
  }
  .first__wrapper-h1 {
    justify-content: start;
  }
  .first__avtor, .first__letter {
    font-size: 35px;
    line-height: 41px;
    padding-right: 18px;
    margin-right: 3px;
  }
  .first__advantages-moving {
    padding: 0;
  }
  .first__about, .first__wrapper {
    width: calc(50% - 10px);
  }
}
@media (min-width: 1920px) {
  .title {
    margin-bottom: 0;
  }
  .first {
    padding-top: 144px;
  }
  .first__name {
    font-size: 150px;
    line-height: 120px;
    margin-bottom: 43px;
  }
  .first__avtor, .first__letter {
    font-size: 53px;
  }
  .first__avtor {
    background-size: 28px 50px;
    padding-right: 31px;
  }
  .first__wrapper .picture {
    height: 796px;
    margin-top: -21px;
  }
  .first__wrapper .picture::before {
    background-size: 20%;
    background-position: 100% 0%;
  }
  .first__advantages {
    max-width: 82%;
  }
  .first__advantages span {
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    padding: 16px 22px;
  }
  .first__advantages-moving {
    margin-left: -14px;
    margin-bottom: 45px;
  }
  .first__advantages:first-child {
    margin-bottom: 17px;
  }
  .first__advantages span:first-child {
    margin-right: 25px;
  }
  .first__wrapper-title .title {
    padding-bottom: 0;
  }
  .first__wrapper-link {
    justify-content: left;
    width: 52%;
    margin-left: -14px;
  }
  .first__link {
    padding: 24px 0px;
  }
}